.head {
  &-section {
    position: relative;
    padding-top: 15rem;
    padding-bottom: 12rem;
    background: #FFF;
    @media (max-width: 1250px){
      padding-top: 10rem;
      padding-bottom: 4rem;
    }
    @media (max-width: 767px){
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    &-decorations {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
    }

    &-decoration {
      position: absolute;

      &:nth-child(1) {
        top: 6rem;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 67rem;
      }

    }
  }

  &__button{
    margin-top: 4rem;
    @media (max-width: 500px){
      width: 100%;
    }
  }

  &-container {
    &:not(:last-child) {
      margin-bottom: 16rem;
      @media (max-width: 768px) {
        margin-bottom: 6rem;
      }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;
    z-index: 10;
    width: 69.5rem;
    height: 49.7rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 1.6rem;
    @media (max-width: 1250px){

      width: 55.6rem;
      height: 39.76rem;
    }
    @media (max-width: 980px) {
      width: 34.75rem;
      height: 24.85rem;
    }
    @media (max-width: 500px){
      width: 100%;
      height: auto;
    }
    &:after {
      position: absolute;
      display: block;
      content: '';
      top: -6rem;
      right: 0;
      width: 72.8rem;
      height: 62rem;
      flex-shrink: 0;
      border-radius: 50%;
      opacity: 0.3;
      background: #3E66D4;
      filter: blur(100px);
      @media (max-width: 1250px){
        width: 50rem;
        height: 40rem;
      }
      @media (max-width: 980px) {
        width: 20rem;
        height: 15rem;
      }
    }

    img {
      position: relative;
      z-index: 1;
    }
    &-decor{
      z-index: 1;

      position: absolute;
      padding: 2rem;
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: contain;

      &:nth-child(3){
        right: -3rem;
        top: -5rem;
        @media (max-width: 1500px){
          right: -1rem;
        }
      }
      &:nth-child(2){
        left: -5rem;
        bottom: -3rem;
        @media (max-width: 450px){
          left: -2rem;
        }
      }
    }
  }

  &-text {
    position: relative;
    width: 70rem;
    margin-right: 2rem;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 4rem;
    }
    &-decor{
      right: 0;
      top: -5rem;
      position: absolute;
      padding: 2rem;
      width: 10rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: 767px){
        top: -3rem;
      }
      @media (max-width: 450px){
        display: none;
      }
    }
  }

  &__text {
    width: 62rem;
    color: #0A111D;
    font-family: "Mulish", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.0018rem;
    opacity: 0.7;
    @media (max-width: 1400px) {
      width: 90%;
    }
    @media (max-width: 630px){
      width: 100%;
    }
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;
    color: #0A111D;
    font-family: "Unbounded", sans-serif;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
    @media (max-width: 1370px) {
      font-size: 5.6rem;
    }
    @media (max-width: 1250px){
      font-size: 4rem;
    }
    @media (max-width: 450px){
      font-size: 4rem;
    }
    @media (max-width: 374px){
      font-size: 3rem;
    }
    .icon {
      position: relative;
      margin: 0 1.8rem;
      padding: 0.8rem 2.2rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      width: 14rem;
      height: 4rem;
      flex-shrink: 0;
      flex-grow: 0;
      border-radius: 6rem;
      background: #3E66D4;
      vertical-align: middle;
      @media (max-width: 1250px){
        height: 3rem;
        padding: 0.2rem;
      }
      @media (max-width: 450px){
        width: 8rem;
        height: 2rem;
      }
      &:after {
        position: absolute;
        display: block;
        content: '';
        width: 16rem;
        height: 6rem;
        @media (max-width: 1250px){
          height: 4rem;
        }
        @media (max-width: 450px){
          width: 9rem;
          height: 3rem;
        }
        flex-shrink: 0;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 6rem;
        border: 2px solid #3E66D4;
        opacity: 0.2;
      }

      &-circle {
        position: relative;
        display: inline-flex;
        width: 4rem;
        height: 4rem;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 0.8rem;
        border-radius: 50%;
        background-color: #74CD24;
        vertical-align: middle;
        @media (max-width: 1250px){

          width: 3rem;
          height: 3rem;
          padding: 0.3rem;
        }
        @media (max-width: 450px){
          width: 2rem;
          height: 2rem;
          padding: 0;
        }
        &:after {
          position: absolute;
          display: block;
          content: '';
          width: 6rem;
          height: 6rem;
          @media (max-width: 1250px){

            width: 4rem;
            height: 4rem;
          }
          @media (max-width: 450px){
            width: 3rem;
            height: 3rem;
          }
          flex-shrink: 0;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          border-radius: 6rem;
          border: 2px solid #74CD24;
          opacity: 0.2;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9rem;
    @media (max-width: 1600px) {
      justify-content: space-between;
    }
    @media (max-width: 980px) {
      justify-content: center;
    }
    @media (max-width: 980px) {
      margin-bottom: 0;
    }
    @media (max-width: 630px) {
      flex-direction: column;
      margin-bottom: 3rem;
    }
    &-item {
      position: relative;
      width: 49rem;
      padding: 3.2rem;
      border-radius: 1.6rem;
      margin-bottom: 3rem;
      color: #0A111D;
      font-family: "Mulish", sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      letter-spacing: 0.0018rem;
      overflow: hidden;

      @media (max-width: 1370px) {
        width: calc(33.3% - 1.4rem);
      }
      @media (max-width: 980px) {
        width: calc(50% - 1.4rem);
      }
      @media (max-width: 630px) {
        width: 100%;
        max-width: 49rem;
        margin: 0.5rem auto;
      }
      @media (max-width: 450px){
        padding: 2rem;
      }
      &:after {
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EEF7E7;
        border-radius: 1.6rem;
      }

      & > * {
        position: relative;
        z-index: 1;
      }

      &__title {
        margin-bottom: 1rem;
        color: #0A111D;
        font-family: "Unbounded", sans-serif;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
      }

      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.4rem;
        width: 8.4rem;
        height: 9.4rem;
        flex-shrink: 0;
        background-repeat: no-repeat;

        img {
          position: relative;
          z-index: 1;
        }

        .background-image {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      &-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 50%;
        border: 2px solid #EEF7E7;
        width: 8rem;
        height: 8rem;
        flex-shrink: 0;

        .icon {
          padding: 1.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6rem;
          height: 6rem;
          background-color: #74CD24;
          border-radius: 50%;
        }

        &-wrapper {
          padding: 1rem;
          position: absolute;
          top: -1rem;
          right: -1rem;
          width: 10rem;
          height: 10rem;
          background-color: #FFFFFF;

          &:after {
            pointer-events: none;
            display: block;
            content: '';
            position: absolute;
            bottom: -1px;
            left: -1px;
            width: 9.2rem;
            height: 9.1rem;
            background-size: contain;
          }

        }
      }

      &:not(:last-child) {
        margin-right: 3rem;
        @media (max-width: 1600px) {
          margin-right: 1.4rem;
        }
        @media (max-width: 630px) {
          margin: 0.5rem auto;
        }
      }
    }
  }

  &-string {

    animation: scroll 30s linear infinite;
    color: #F0F3FD;
    font-family: "Unbounded", sans-serif;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;
    white-space: nowrap;
    @media (max-width: 630px) {
      font-size: 4.6rem;
    }
    @media (max-width: 425px){
      font-size: 3.6rem;
    }
    &-wrap{
      display: flex;
      gap: 1rem;
      width: 100%;
      overflow: hidden;
    }
  }
}

.section-dark{
  .head-string{
    color: #222935;
  }
}